# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#Ignore SSL certificates and wallet files
ssl/

#Ignore logs
*.log

*.terraform*
*terraform.tfstate*
*.terragrunt*

terraform/gcp/terragrunt/orchestration/base_infra/vpc/.terragrunt-cache/r2g9M9Nw3fQmj2ibuFeqcvFSb8Y/fZJhgoBlUZI7Arzu-FkWCf5c99Y/.terraform/terraform.tfstate
terraform/gcp/rundir_init/terraform.tfstate
terraform/gcp/rundir_init/terraform.tfstate.backup
terraform/gcp/terragrunt/orchestration/prd/gke/.terraform.lock.hcl
terraform/gcp/terragrunt/orchestration/prd/gke/.terragrunt-cache/YrwTGcJNwAX-5xEeJPT_B_Q32Bg/VS8F-NnWZM_yewfyIAPRfr67Qy0/.terraform.lock.hcl
terraform/gcp/terragrunt/orchestration/base_infra/vpc/.terragrunt-cache/r2g9M9Nw3fQmj2ibuFeqcvFSb8Y/fZJhgoBlUZI7Arzu-FkWCf5c99Y/.terraform/terraform.tfstate
terraform/gcp/terragrunt/orchestration/base_infra/vpc/.terragrunt-cache/r2g9M9Nw3fQmj2ibuFeqcvFSb8Y/fZJhgoBlUZI7Arzu-FkWCf5c99Y/.terragrunt-source-version
terraform/gcp/terragrunt/orchestration/base_infra/vpc/.terragrunt-cache/r2g9M9Nw3fQmj2ibuFeqcvFSb8Y/fZJhgoBlUZI7Arzu-FkWCf5c99Y/.terragrunt-module-manifest
terraform/gcp/rundir_init/terraform.tfstate.backup
terraform/gcp/rundir_init/terraform.tfstate
terraform/gcp/rundir_init/terraform.tfstate.backup
terraform/gcp/rundir_init/terraform.tfstate
